<!Doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Landing</title>
<link rel="stylesheet" href="schedules.scss">
</head>
<body>
<h1 class="center">Schedules</h1>
<div class = "mov-down"></div>

<div class="align">
  <div class="card">
  <img src="https://st.hzcdn.com/simgs/90010ff60e82597c_4-8685/home-design.jpg" alt="green-pic" style="width:100%">
  <div class="container">
        <h4><b>Financial</b></h4>
  </div>
  <a href="pages/dashboard.html">link</a>
</div >

<div class="card">
<img src="https://i.pinimg.com/originals/23/58/04/235804e7b8b2611b01812315a5ef20e8.jpg" alt="blue-pic" style="width:100%">
<div class="container">
      <h4><b>Educational</b></h4>
</div>
</div>

<div class="card">
<img src="https://s3.amazonaws.com/spoonflower/public/design_thumbnails/0952/4647/solid-b1-8f-bd-mutedpastel-pure-purple_shop_thumb.png" alt="purple" style="width:100%">
<div class="container">
      <h4><b>Career</b></h4>
</div>
</div>

</div>

</body>
</html>


