<!Doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Landing</title>
<link rel="stylesheet" href="schedules.scss">
</head>
<body class = "background">
<div><h1 class="center">CTRL</h1></div>
<div class = "mov-down"></div>

<div class="align">
  <div class="card">
  <img src="https://mail.google.com/mail/u/0?ui=2&ik=7b31220f77&attid=0.2&permmsgid=msg-f:1698343413386462387&th=1791ba56158644b3&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ_WhQFMpHUpIzbhVTr2Q1x7S3eKaIy-TL3csjnXsffmtsJCoX68418b6_QjpaHWM5Q4CetP7i6Mhyn4viJ1xXrEiIVSYcXFiSz21yVaFFiHhe0D6ke9HZ4ZqLY&disp=emb&realattid=ii_ko2blbyr2" alt="green-pic" style="width:100%">
  <div class="container-card">
        
        <a href="pages/dashboard.html"><h4><b>Financial</b></h4></a>
  </div>
  
</div >

<div class="card">
<img src="https://mail.google.com/mail/u/0?ui=2&ik=7b31220f77&attid=0.3&permmsgid=msg-f:1698343413386462387&th=1791ba56158644b3&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ_YIWK_YE3KN4Fuu3NtG1AlOdxqC7bfGaz9wist560klcA1foi0VwvHyzSuRqBTEpN9oISow06tcU9kD1kik1XGmn2jNQDXIdlUkqeHfMa_YyTjHc1cIxDnX8o&disp=emb&realattid=ii_ko2blbyd0" alt="blue-pic" style="width:100%">
<div class="container-card">
      <h4><b>Educational</b></h4>
</div>
</div>

<div class="card">
<img src="https://mail.google.com/mail/u/0?ui=2&ik=7b31220f77&attid=0.1&permmsgid=msg-f:1698343413386462387&th=1791ba56158644b3&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ8udAsGIDfxgQn_Wy9s7D5apRPX7cyetlOXKx0pVaqPeLeEAkY-clBvlHe0m3B2wdufGdalqd4eBUxPvRPf2bLxW7nolmKWbmGbdEbtuSg6KMg6KzRWC3BhtSQ&disp=emb&realattid=ii_ko2blbyn1" alt="purple" style="width:100%">
<div class="container-card">
      <h4><b>Career</b></h4>
</div>
</div>

</div>

</body>
</html>


