@import "bootstrap/scss/bootstrap";
@import "schedules.scss";
@import "dashstyle.scss";
@import "buttonanim.scss";
@import "calendar.css";

.center{
    align-items:center;
    text-align: center;
}

.background{
    background: #fcf5eb;
}

.mov-down{
    height:100px;
}

.pos-down
{
    margin-top:22%;
}

.align
{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
}

/* .align-2
{
    display:flex;
} */
.card {
    /* Add shadows to create the "card" effect */
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    /* transition: 0.3s; */
    /* border-radius: 5px;  */
    width: 300px;
    height:400px;
    background: transparent;
  }

  img {
    border-radius: 5px 5px 0 0;
    height: 300px;
  }

  /* .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
   */
  /* Add some padding inside the card container */
  .container-card {
    padding: 2px 16px;
    text-align:center;
  }

  .background-grad
  {
      background: #fcf5eb 
  }


/* The following is the dash style css formatting. import is not working properly! */


section 
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fcf5eb;
    overflow: hidden;
}

section::before
{
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
    background: linear-gradient(#ffc107, #e91e63);
    border-radius: 50%;
    transform:translate(-250px,-120px);
}

section::after
{
    content: '';
    position: absolute;
    width: 350px;
    height: 350px;
    background: linear-gradient(#2196f3, #31ff38);
    border-radius: 50%;
    transform:translate(250px,150px);
}

.box
{
    position: relative;
    z-index: 1000;
}

.container
{
    position:relative;
    width: 400px;
    min-height: 400px;
    background: rgba(255,255,255,.1);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,.5);
    border-right: 1px solid rgba(255,255,255,.2);
    border-bottom: 1px solid rgba(255,255,255,.2);
    backdrop-filter: blur(25px);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items:center;
}

.container-junior
{
    position:relative;
    width: 400px;
    min-height: 400px;
    background: rgba(255,255,255,.1);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,.5);
    border-right: 1px solid rgba(255,255,255,.2);
    border-bottom: 1px solid rgba(255,255,255,.2);
    backdrop-filter: blur(25px);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items:center;
}

#dycalendar
{
    width: 100%;
    padding: 20px;
}
#dycalendar table
{
    width: 100%;
    margin-top: 40px;
    border-spacing:5px;
}
#dycalendar table tr:nth-child(1) td
{
    background: #fff;
    color: #111;
    border-radius: 4px;
    font-weight: 600px;
}
#dycalendar table td
{
   color: #fff;
   padding: 10px;
   cursor: pointer;
   border-radius: 4px;
}

#dycalendar table td:hover
{
    background: #fff;
    color: #111 !important;
}

.dycalendar-month-container .dycalendar-today-date, .dycalendar-month-container .dycalendar-target-date
{
    background: #fff;
    color: #111 !important;
}
.dycalendar-month-container .dycalendar-header .dycalendar-prev-next-btn.prev-btn
{
    background: #fff;
    color: #111;
    width: 44px;
    height: 38px;
    left: 4px;
    border-radius: 4px;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 24px;
}

.dycalendar-month-container .dycalendar-header .dycalendar-prev-next-btn.next-btn
{
    background: #fff;
    color: #111;
    width: 44px;
    height: 38px;
    right: 4px;
    border-radius: 4px;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 24px;
}

.dycalendar-month-container .dycalendar-span-month-year
{
    color: #fff;
    font-size: 1.5em;
    font-weight: 500;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 =require_dashstyle
 =require_dycalendar
 =require_calendar
 =require_buttonanim
 */
